<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Descarga el capitulo 1 </h2>
            <%= link_to "Descarga ya el primer capitulo!", '/sound//Cap 1.enc',{:class=> "btn btn-default btn-xl wow tada"} %>
        </div>
    </div>
</aside>

