<header>
    <div class="header-content">
        <div class="header-content-inner">
            
               
                <%= image_tag "creative/portfolio/Logo_Mujer_Segura.png" %>
            <hr>
            <p>Radio Chamin es el podcast de cursos basicos en español gratuitos donde aprederas Finanzas personales, manejo del tiempo, marca personal, entre otros orientado para jovenes venezolanos que no tienen tiempo para estudiar. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mas Información</a>
        </div>
    


    </div>
    
</header>

